.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}


.rack{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}


.tile-fg{
  width: 4em;
  background-color: #f5f0eb;
  border-radius: 15%;
  padding: 0.3em;
}

.point-rack{
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-flow: space-between;
  align-items: left;
  justify-content: center;
}

.point-tile{
  width: 3em;
  border: 1px solid black;
}

.wind{
 width: 40vw;

}

.wind-img{
  width: 3em;
  background-color: #f5f0eb;
  border-radius: 15%;
  padding: 0.3em;
}